<?xml version="1.0" encoding="UTF-8"?>
<!-- Define the variables in "$(var.*) expressions" -->
<?define Name = "NSSM" ?>
<?define Manufacturer = "Note-Taker" ?>
<?define Version = "1.0.0.0" ?>
<?define ProductCode = "69359d0e-6a31-41dd-9941-61f9ea31886b" ?>
<?define UpgradeCode = "2fe4b910-1a0d-4d56-9d64-ce2785ee53c9" ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package Name="$(Name)"
			 Manufacturer="$(Manufacturer)"
			 Version="$(Version)"
			 ProductCode="$(var.ProductCode)"
			 UpgradeCode="$(var.UpgradeCode)"
			 Compressed="true">
	
	<MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />
	<Media Id="1" Cabinet="nssm.cab" EmbedCab="yes"/>

	<!--Set the directory where we net to install-->
	<StandardDirectory Id="ProgramFiles64Folder">
		<Directory Id="INSTALLFOLDER" Name="!(bind.Property.Manufacturer)">
			<!--<Directory Id="DIR_BINARY" Name="bin">-->
				<Directory Id="DIR_NSSM" Name="nssm">
					<File Id ="nssmFile" Source="C:\Users\hkaus\source\binaries\nssm-2.24\win64\nssm.exe"/>
				</Directory>
			<!--</Directory>-->
		</Directory>
	</StandardDirectory>
		
  </Package>
</Wix>
